<div *ngIf="person" >
  <h4>Osoba - {{person.firstname}} {{person.lastname}}</h4>
  <form>
      <div class="form-group">
          <label class="control-label" for="inputId">Id</label>
          <div class="controls">
              <p class="form-control-static">{{person._id}}</p>
          </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="inputName">Jméno</label>
          <div class="controls">
              <input class="form-control" id="inputName" [(ngModel)]="person.firstname" placeholder="name" name="firstname">
          </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="inputSurname">Příjmení</label>
          <div class="controls">
              <input class="form-control" id="inputSurname" type="text"  [(ngModel)]="person.lastname" placeholder="lastname" name="lastname" >
          </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
              <input class="form-control" id="inputEmail" type="text" [(ngModel)]="person.email" placeholder="email" name="email" >
          </div>
      </div>
  </form>
<div>